@import "./sass/base/common";
@import "./base/reset";
@import "./utils/variables";
@import "./components/container";
@import "./components/section";
@import "./components/visually-hidden";
@import "./layout/about";
@import "./layout/advantages";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/modal-form";
@import "./layout/projects";
@import "./layout/team";
