.about {
  padding-top: 0;
}

.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

.about__thumb {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color);
}

.about__list {
  display: flex;
  justify-content: space-between;
}
