:root {
  --primary-text-color: #212121;
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --sections-color: #2f303a;
  --text-color: #757575;
  --contacts-link: #ffffff60;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
